<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">JOB LIST</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Job ID
                                    </th>
                                    <th>
                                        Job Title
                                    </th>
                                    <th>
                                        Vacency
                                    </th>
                                    <th>
                                        Total Application
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let job of getJob">
                                        <td>
                                            {{job.job_post_id}}
                                        </td>
                                        <td>
                                            {{job.job_title}}
                                        </td>
                                        <td>
                                            {{job.job_vacency}}
                                        </td>
                                        <td>
                                            <a type="text" class="position-relative">
                                                <i class="material-icons">person</i>
                                                <span
                                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
                                                    99+

                                                </span>
                                            </a>
                                        </td>
                                        <td class="text-primary">
                                            <Button (click)="getID(job.job_post_id)"
                                                class="btn btn-primary">View</Button>
                                            <span> </span>
                                            <Button class="btn btn-info">Edit</Button>
                                            <span> </span>
                                            <Button class="btn btn-danger">Delete</Button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
