<!-- <div id="map"></div> -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Category LIST</h4>
                        <p class="card-category"> Category list for post and jobs</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Category ID
                                    </th>
                                    <th>
                                        Category Name
                                    </th>
                                    <th>
                                        Category Description
                                    </th>

                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Lorem ipsum
                                        </td>
                                        <td>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                        </td>

                                        <td class="text-primary">
                                            <Button class="btn btn-info ">Edit</Button>
                                            <span> </span>
                                            <Button class="btn btn-danger ">Delete</Button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
