<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Create Category</h4>
                <p class="card-category">category create for blog and jobs
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Catagory Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">

                            </div>

                            <div class="custom-file">
                                <input formControlName="image" type="file" class="custom-file-input"
                                    id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Catagory Image</label>
                            </div>
                            <span>-</span>
                            <div class="mb-3">

                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
