<table border="1">
    <tr>
        <td>id</td>
        <td>Fulname</td>
        <td>Email</td>
        <td>Mobile</td>
    </tr>
    <tr *ngFor="let user of readUser">
        <td>{{user.id}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
    </tr>
</table>

<br>
<hr>
<br>
<form [formGroup]="userForm" (ngSubmit)="userSubmit()">
    <table>

        <tr>
            name: <td><input type="text" class="from-control" formControlName="fullname"></td>
        </tr>
        <tr>
            Email: <td><input type="text" class="from-control" formControlName="email"></td>
        </tr>
        <tr>
            Mobile: <td><input type="text" class="from-control" formControlName="mobile"></td>
        </tr>
        <tr>
            <td><button>Submit</button></td>
        </tr>
    </table>


</form>
