<!-- <div id="map"></div> -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">BLOG LIST</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Post ID
                                    </th>
                                    <th>
                                        Post Title
                                    </th>
                                    <th>
                                        Post Description
                                    </th>

                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Lorem ipsum dolor sit amet.
                                        </td>
                                        <td>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam minus
                                            accusantium totam voluptate ex? Placeat, error veniam enim accusantium eaque
                                            porro reiciendis. Deserunt hic eum nostrum libero, provident ab quod.
                                        </td>

                                        <td class="text-primary">
                                            <Button class="btn btn-info btn-sm">Edit</Button>
                                            <span> </span>
                                            <Button class="btn btn-danger btn-sm">Delete</Button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
